<% provide(:title, 'About') %>
<div class="center hero-unit">
	<h1>About</h1>
	<p>
		WaterMaster is a nice irrigation control system that takes the guesswork out of watering your lawn, and makes it so you just have to set and forget.  Designed to run on a small Raspberry Pi computer, you can run it in your garage and stuff, but access it from your home computer or mobile device.
	</p>
</div>